.container {
    min-height: 100vh;
    background-color: #191b23;
}

.content {
    padding: 0 10%;
}
    
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.button {
    padding: 0.75rem 1.875rem;
    background-color: #232632;
    border-radius: 0.625rem;
    color: #FFF;
    line-height: 2rem;
    cursor: pointer;
}

.smallButton {
    padding: 0.75rem;
    background-color: #232632;
    border-radius: 0.625rem;
    color: #FFF;
    line-height: 2rem;
    cursor: pointer;
}

.button:hover, .smallButton:hover {
    transform: scale(1.05);
}

.button:active, .smallButton:active {
    transform: scale(0.95);
}

.input {
    width: 55%;
    padding: 1rem;
    border-radius: 0.625rem;
    border: 2px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #FFF;
}

.nfts {
    width: 100%;
    margin-top: 4.375rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.6%;
}