.card {
    margin-bottom: 1.875rem;
    width: 80vw;
    max-width: 22.5rem;
    position: relative;
}

.image {
    display: block;
    height: auto;
    width: 100%;
}

.details {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0 0 0.625rem 0.625rem;
    width: 100%;
}
.timeContainer {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
.likeContainer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}