.card {
    margin-bottom: 1.875rem;
    width: 80vw;
    max-width: 22.5rem;
}

.image {
    display: block;
    height: auto;
    width: 100%;
}

.details {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0 0 0.625rem 0.625rem;
    width: 100%;
}