.header {
    height: 6.25rem;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    padding: 1.5rem 3.125rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.625rem;
    color: #FFF;
}

.menuContainer {
    display: flex;
    list-style: none;

}

.menuContainer li span {
    margin-right: 0.625rem;
}

.userInfoContainer {
    display: flex;
    list-style: none;
    gap: 3.75rem;
}

.logo {
    margin-right: 3.75rem;
    font-size: 1.5rem;
    font-weight: bold;

}